In [411]:
import pandas as pd
import datetime as dt
import re
import addfips

In [412]:
"https://www.kaggle.com/datasets/oleksiimartusiuk/michigan-water-use-data-2013-to-2022"

path = "../data/raw/water_use_data_2013_to_2022.csv"
df = pd.read_csv(path)
df.drop(columns="Unnamed: 0", inplace=True)
df.head()

,county,gallons_from_great_lakes,gallons_from_groundwater,gallons_from_inland_surface,total_gallons_all_sources,industry,year
0,Alcona,0,2666085962,4695086047,7361172009,Total All Sectors,2014
1,Alger,1512160000,1608226431,799089999,3919476431,Total All Sectors,2014
2,Allegan,0,5552539983,3784550040,9337090023,Total All Sectors,2014
3,Alpena,40839120000,10948600250,2532270000,54319990250,Total All Sectors,2014
4,Antrim,0,12214548686,54526097,12269074783,Total All Sectors,2014

In [413]:
df.shape

(6630, 7)

In [414]:
df.columns

Index(['county', 'gallons_from_great_lakes', 'gallons_from_groundwater',
       'gallons_from_inland_surface', 'total_gallons_all_sources', 'industry',
       'year'],
      dtype='object')

In [415]:
df.isna().sum()

county                         0
gallons_from_great_lakes       0
gallons_from_groundwater       0
gallons_from_inland_surface    0
total_gallons_all_sources      0
industry                       0
year                           0
dtype: int64

In [416]:
df.nunique()

county                           85
gallons_from_great_lakes        725
gallons_from_groundwater       4328
gallons_from_inland_surface    1952
total_gallons_all_sources      4646
industry                          8
year                             10
dtype: int64

In [417]:
df.industry.unique()

array(['Total All Sectors', 'Commercial-Institutional',
       'Electric Power Generation', 'Industrial-Manufacturing',
       'Irrigation', 'Livestock', 'Other', 'Public Water Supply'],
      dtype=object)

In [418]:
df.county.unique()

array(['Alcona', 'Alger', 'Allegan', 'Alpena', 'Antrim', 'Arenac',
       'Baraga', 'Barry', 'Bay', 'Benzie', 'Berrien', 'Branch', 'Calhoun',
       'Cass', 'Charlevoix', 'Cheboygan', 'Chippewa', 'Clare', 'Clinton',
       'Crawford', 'Delta', 'Dickinson', 'Eaton', 'Emmet', 'Genesee',
       'Gladwin', 'Gogebic', 'Grand Traverse', 'Gratiot', 'Hillsdale',
       'Houghton', 'Huron', 'Ingham', 'Ionia', 'Iosco', 'Iron',
       'Isabella', 'Jackson', 'Kalamazoo', 'Kalkaska', 'Kent', 'Keweenaw',
       'Lake', 'Lapeer', 'Leelanau', 'Lenawee', 'Livingston', 'Luce',
       'Mackinac', 'Macomb', 'Manistee', 'Marquette', 'Mason', 'Mecosta',
       'Menominee', 'Midland', 'Missaukee', 'Monroe', 'Montcalm',
       'Montmorency', 'Muskegon', 'Newaygo', 'Oakland', 'Oceana',
       'Ogemaw', 'Ontonagon', 'Osceola', 'Oscoda', 'Otsego', 'Ottawa',
       'Presque Isle', 'Roscommon', 'Saginaw', 'Saint Clair',
       'Saint Joseph', 'Sanilac', 'Schoolcraft', 'Shiawassee', 'Tuscola',
       'Van Buren', 'Washtenaw', 'Wayne', 'Wexford', 'St Clair',
       'St Joseph'], dtype=object)

In [419]:
def remove_whitespace_from_column_names(df):
  # Remove leading and trailing spaces from column names
  df2 = df.copy()
  df2.columns = [column.strip() for column in df2.columns]
  return df2

def trim_and_lower(df):
  df2 = df.copy()
  df2.columns = [column.strip() for column in df2.columns]
  df2.columns = [column.strip().replace(" ", "_").lower() for column in df2.columns]
  df2 = df2.map(lambda x: x.replace("\xa0", " ") if isinstance(x, str) else x)
  df2 = df2.map(lambda x: x.strip() if isinstance(x, str) else x)

  return df2

def gallons_to_megalitres(columns, df):
    df2 = df.copy()
    for col in columns:
        if col in df2.columns:
            df2[col] = (df2[col] / 264200).astype('int')
    return df2

def rename_columns(columns, df):
    df2 = df.copy()
    df2.columns = [col.replace("gallons", "megalitres") for col in df2.columns]
    return df2

def cleaning_function(df, columns):
    df2 = df.copy()
    df2 = remove_whitespace_from_column_names(df2)
    df2 = trim_and_lower(df2)
    df2 = remove_whitespace_from_column_names(df2)
    df2 = gallons_to_megalitres(columns, df2)
    df2 = rename_columns(columns, df2)
    df2["county"] = df2["county"].apply(lambda x: "Saint Clair" if x == "St Clair" else "Saint Joseph" if x == "St Joseph" else x)
    return df2

def pc_of_total(df, numerator_cols, denominator_col):
    df2 = df.copy()
    for col in numerator_cols:
        df2[col + "_pc"] = round((df2[col] / df2[denominator_col] * 100), 2).fillna(0)
    return df2

def main_water_source(df, cols):
    df2 = df.copy()
    df2["main_source"] = df2[cols].idxmax(axis=1).str.replace("megalitres_from_", "").str.replace("_", " ").str.title()
    return df2

def fix_missing_fips(row):
    if pd.isna(row["fips"]):
        if row["county"] == "Keweenaw":
            row["fips"] = "026083"
        elif row["county"] == "Lake":
            row["fips"] = "026085"
    return row

def get_fips_codes(df):
    df2 = df.copy()
    af = addfips.AddFIPS()
    df2["fips"] = [af.get_county_fips(county=county, state='Michigan') for county in df_final["county"]]
    return df2

def add_new_cols(df, numerator_cols, denominator_col):
    df2 = df.copy()
    df2 = pc_of_total(df2, numerator_cols, denominator_col)
    df2 = main_water_source(df2, numerator_cols)
    #df2 = get_fips_codes(df2)
    return df2

In [420]:
# Initialize empty lists to store the parsed data
fips_codes = []
counties = []

# Open and read the text file
with open('../data/raw/fips.txt', 'r') as file:
    for line in file:
        # Split the line by whitespace to separate the FIPS code and county name
        parts = line.strip().split(maxsplit=1)
        if len(parts) == 2:
            fips, county = parts
            fips_codes.append(fips)
            counties.append(county.replace(" County", ""))

# Create a DataFrame from the parsed data
fips_df = pd.DataFrame({
    'fips': fips_codes,
    'county': counties
})

# Write the DataFrame to a CSV file
csv_file_path = '../data/raw/fips.csv'
fips_df.to_csv(csv_file_path, index=False)

#fips_path = "../data/raw/fips.csv"
#fips_df = pd.read_csv(fips_path, dtype={"fips":str})
#fips_df

In [421]:
gallon_cols = ["gallons_from_great_lakes", "gallons_from_groundwater", "gallons_from_inland_surface", "total_gallons_all_sources"]
numerator_cols = ["megalitres_from_great_lakes", "megalitres_from_groundwater", "megalitres_from_inland_surface"]
denominator_col = "total_megalitres_all_sources"

df_cleaned = cleaning_function(df, gallon_cols)
df_final = add_new_cols(df_cleaned, numerator_cols, denominator_col)
df_final = df_final.sort_values(["year", "county", "industry"])
df_final["county"] = df_final.county.apply(lambda x: "Saint Clair" if x == "St Clair" else "Saint Joseph" if x == "St Joseph" else x)
df_final = df_final.merge(fips_df, how="left", on="county")

df_final.head()

,county,megalitres_from_great_lakes,megalitres_from_groundwater,megalitres_from_inland_surface,total_megalitres_all_sources,industry,year,megalitres_from_great_lakes_pc,megalitres_from_groundwater_pc,megalitres_from_inland_surface_pc,main_source,fips
0,Alcona,0,0,0,0,Commercial-Institutional,2013,0.0,0.00,0.00,Great Lakes,26001
1,Alcona,0,645,0,645,Electric Power Generation,2013,0.0,100.00,0.00,Groundwater,26001
2,Alcona,0,0,0,0,Industrial-Manufacturing,2013,0.0,0.00,0.00,Great Lakes,26001
3,Alcona,0,122,48,170,Irrigation,2013,0.0,71.76,28.24,Groundwater,26001
4,Alcona,0,70,981,1051,Livestock,2013,0.0,6.66,93.34,Inland Surface,26001

In [422]:
df_final.isna().sum()

county                               0
megalitres_from_great_lakes          0
megalitres_from_groundwater          0
megalitres_from_inland_surface       0
total_megalitres_all_sources         0
industry                             0
year                                 0
megalitres_from_great_lakes_pc       0
megalitres_from_groundwater_pc       0
megalitres_from_inland_surface_pc    0
main_source                          0
fips                                 0
dtype: int64

In [423]:
df_final.shape

(6630, 12)

In [424]:
df_final.to_csv("../data/clean/water_usage.csv", index=False)